
/* Add whatever you need to your CSS reset */
html, body, h1, form, fieldset, input {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: #bbbbbb;
}

#registration {
    box-shadow: 0px 0px 40px #fff;
    margin: auto;
    margin-top: 100px;
    color: #fff;
    background: #2d2d2d;
    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(60,60,60)),
            color-stop(0.74, rgb(43,43,43)),
            color-stop(1, rgb(60,60,60))
    );
    background: -moz-linear-gradient(
            center bottom,
            rgb(60,60,60) 0%,
            rgb(43,43,43) 74%,
            rgb(60,60,60) 100%
    );
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 430px;
}

#registration a {
    color: #8c910b;
    text-shadow: 0px -1px 0px #000;
}

#registration fieldset {
    padding: 20px;
}

input.text {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:solid 1px #444;
    font-size: 14px;
    width: 90%;
    padding: 7px 8px 7px 30px;
    -moz-box-shadow: 0px 1px 0px #777;
    -webkit-box-shadow: 0px 1px 0px #777;
    background: #ddd url('img/inputSprite.png') no-repeat 4px 5px;
    background: url('img/inputSprite.png') no-repeat 4px 5px, -moz-linear-gradient(
            center bottom,
            rgb(225,225,225) 0%,
            rgb(215,215,215) 54%,
            rgb(173,173,173) 100%
    );
    background:  url('img/inputSprite.png') no-repeat 4px 5px, -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(225,225,225)),
            color-stop(0.54, rgb(215,215,215)),
            color-stop(1, rgb(173,173,173))
    );
    color:#333;
    text-shadow:0px 1px 0px #FFF;
}

input#email {
    background-position: 4px 5px;
    background-position: 4px 5px, 0px 0px;
}

input#password {
    background-position: 4px -20px;
    background-position: 4px -20px, 0px 0px;
}

input#name, input#ID {
    background-position: 4px -46px;
    background-position: 4px -46px, 0px 0px;
}

input#tel {
    background-position: 4px -76px;
    background-position: 4px -76px, 0px 0px;
}

#registration h2 {
    color: #fff;
    text-shadow: 0px -1px 0px #000;
    border-bottom: solid #181818 1px;
    -moz-box-shadow: 0px 1px 0px #3a3a3a;
    text-align: center;
    padding: 18px;
    margin: 0px;
    font-weight: normal;
    font-size: 24px;
    font-family: Lucida Grande, Helvetica, Arial, sans-serif;
}

#registerNew {
    width: 203px;
    height: 40px;
    border: none;
    text-indent: -9999px;
    background: url('img/createAccountButton.png') no-repeat;
    cursor: pointer;
    float: right;
}

#registerNew:hover { background-position: 0px -41px; }
#registerNew:active { background-position: 0px -82px; }

#registration p {
    position: relative;
}

fieldset label.infield /* .infield label added by JS */ {
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    position: absolute;
    text-align: left;
    top: 3px !important;
    left: 35px !important;
    line-height: 29px;
}
