body {
    font-size: 12px;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

#settings_form {
    background: #eeeeee;
}

#settings_form tbody tr td:first-child {
    color: #666666;
    font-weight: bold;
    padding: 20px;
}