body {
	font-size: 13px;
	color: #000000;
	background-color:#fafafa;
	font-family: arial, verdana, tahoma;
	direction: rtl;
	line-height: 20px;
	text-align: right;

}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	background:transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link, a:visited, a:active {
	font-size: 13px; 
	color: #000000;
	text-decoration: none;
	font-weight:bold; 
}
a:hover {
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
 }
 
#background1 {
	background:url('images/background1.png') repeat-x;
	background-position: 0% 0%;
}

#background2 {
	background:url('images/background2.png') repeat-x;
	background-position: 100% 100%;	
}

.main {
	width: 960px;
	clear:both;
	margin: auto;
}

.logo  {
	background: url('images/logo_left.png') no-repeat;
	width:290px;
	height:97px;
	float:left;
	padding: 32px 19px 0px 0px;
	color: white;
}

#login {
	margin: 0px 70px 0px 0px;
}

.menu {
	background:url('images/menu.png');
	width:960px;
	height:27px;
	padding: 6px 0px 0px 0px;
	clear:both;
}

.block_image {
	float:right;	
}

#block1{
	float:right;
	line-height: 13px;
	color:#176d86;
	font-weight:bold;
}

#block1_title {
	background:url('images/block1/block1_title.png') no-repeat;
	width: 379px;
	height: 43px;
	padding: 22px 89px 0px 0px;
}

#block1_first {
	background:url('images/block1/block1_first.png') no-repeat;
	width: 435px;
	height: 110px;
	padding: 15px 34px 0px 0px;
}


.block1 {
	background:url('images/block1/block1.png') no-repeat;
	width: 435px;
	height: 110px;
	padding: 9px 34px 0px 0px;
}

#block1_last {
	background:url('images/block1/block1_last.png') no-repeat;
	width: 435px;
	height: 103px;
	padding: 9px 34px 0px 0px;
}

#block1_posts {
	background:url('images/block1/block1_posts.png') no-repeat;
	width: 450px;
	height: 30px;
	margin: 0px 0px 0px 0px;
	padding: 8px 19px 0px 0px;
	text-align:center;
}


#block2{
	float:left;
	line-height: 13px;
	color:#176d86;
	font-weight:bold;
}

#block2_title {
	background:url('images/block2/block2_title.png') no-repeat;
	width: 390px;
	height: 43px;
	padding: 22px 72px 0px 0px;
}

#block2_first {
	background:url('images/block2/block2_first.png') no-repeat;
	width: 448px;
	height: 110px;
	padding: 15px 14px 0px 0px;	
}


.block2 {
	background:url('images/block2/block2.png') no-repeat;
	width: 448px;
	height: 110px;
	padding: 9px 14px 0px 0px;		
}

#block2_last {
	background:url('images/block2/block2_last.png') no-repeat;
	width: 448px;
	height: 141px;
	padding: 9px 14px 0px 0px;
}

#block2_posts {
	background:url('images/block2/block2_posts.png') no-repeat;
	width: 451px;
	height: 30px;
	margin: -38px 0px 0px 0px;
	padding: 8px 11px 0px 0px;
	
}

.google {
	text-align:center;
}

#block3{
	float:right;
	line-height: 13px;
	color:#197326;
	font-weight:bold;
}

#block3_title {
	background:url('images/block3/block3_title.png') no-repeat;
	width: 380px;
	height: 43px;
	padding: 17px 89px 0px 0px;
}

#block3_first {
	background:url('images/block3/block3_first.png') no-repeat;
	width: 435px;
	height: 110px;
	padding: 15px 34px 0px 0px;
}


.block3 {
	background:url('images/block3/block3.png') no-repeat;
	width: 435px;
	height: 110px;
	padding: 9px 34px 0px 0px;
}

#block3_last {
	background:url('images/block3/block3_last.png') no-repeat;
	width: 435px;
	height: 114px;
	padding: 9px 34px 0px 0px;
}

#block4{
	float:left;
	line-height: 13px;
	color:#a70000;
	font-weight:bold;
}

#block4_title {
	background:url('images/block4/block4_title.png') no-repeat;
	width: 390px;
	height: 43px;
	padding: 17px 71px 0px 0px;
}

#block4_first {
	background:url('images/block4/block4_first.png') no-repeat;
	width: 448px;
	height: 110px;
	padding: 15px 13px 0px 0px;	
}


.block4 {
	background:url('images/block4/block4.png') no-repeat;
	width: 448px;
	height: 110px;
	padding: 9px 13px 0px 0px;		
}

#block4_last {
	background:url('images/block4/block4_last.png') no-repeat;
	width: 448px;
	height: 114px;
	padding: 9px 13px 0px 0px;
}

#block5{
	float:right;
	line-height: 20px;
	color:#b17933;
	font-weight:bold;
}

#block5_title {
	background:url('images/block5/block5_title.png') no-repeat;
	width: 379px;
	height: 43px;
	padding: 27px 89px 0px 0px;
	line-height: 13px;
}

#block5_first {
	background:url('images/block5/block5_first.png') no-repeat;
	width: 435px;
	height: 110px;
	padding: 15px 34px 0px 0px;
}


.block5 {
	background:url('images/block5/block5.png') no-repeat;
	width: 435px;
	height: 110px;
	padding: 9px 34px 0px 0px;
}

#block5_last {
	background:url('images/block5/block5_last.png') no-repeat;
	width: 435px;
	height: 114px;
	padding: 9px 34px 0px 0px;
}

#block6{
	float:left;
	line-height: 20px;
	color:#776800;
	font-weight:bold;
}

#block6_title {
	background:url('images/block6/block6_title.png') no-repeat;
	width: 390px;
	height: 43px;
	padding: 27px 71px 0px 0px;
	line-height: 13px;
}

#block6_first {
	background:url('images/block6/block6_first.png') no-repeat;
	width: 448px;
	height: 110px;
	padding: 15px 13px 0px 0px;	
}


.block6 {
	background:url('images/block6/block6.png') no-repeat;
	width: 448px;
	height: 110px;
	padding: 9px 13px 0px 0px;		
}

#block6_last {
	background:url('images/block6/block6_last.png') no-repeat;
	width: 448px;
	height: 114px;
	padding: 9px 13px 0px 0px;
}

#downblocks1 {
	float:right;
	line-height: 13px;
	color:#358096;
	font-weight:bold;	
}

#block1_title_down {
	background:url('images/downblocks/block1/block1_title.png') no-repeat;
	width: 380px;
	height: 43px;
	padding: 17px 89px 0px 0px;
}

#block1_down {
	background:url('images/downblocks/block1/block1.png') no-repeat;
	width: 409px;
	height: 287px;
	line-height:25px;
	font-size:15px;
	padding: 20px 60px 0px 0px;
}

#block1_down ol {
	padding: 0px 30px 0px 0px;
}

#block1_down table {
	margin: 40px 70px 0px 0px;
}

#downblocks2 {
	float:left;
	line-height: 13px;
	color:#358096;
	font-weight:bold;	
}

#block2_title_down {
	background:url('images/downblocks/block2/block2_title.png') no-repeat;
	width: 392px;
	height: 43px;
	padding: 17px 69px 0px 0px;
}

#block2_down {
	background:url('images/downblocks/block2/block2.png') no-repeat;
	width: 436px;
	height: 287px;
	padding: 20px 25px 0px 0px;
}

#downblocks3 {
	float:right;
	line-height: 13px;
	color:#358096;
	font-weight:bold;	
}

#block3_title_down {
	background:url('images/downblocks/block3/block3_title.png') no-repeat;
	width: 379px;
	height: 43px;
	padding: 27px 89px 0px 0px;
}

#block3_first_down {
	background:url('images/downblocks/block3/block3_first.png') no-repeat;
	width: 434px;
	height: 110px;
	padding: 19px 34px 0px 0px;
}

#block3_down {
	background:url('images/downblocks/block3/block3.png') no-repeat;
	width: 434px;
	height: 110px;
	padding: 9px 34px 0px 0px;	
}

#block3_last_down {
	background:url('images/downblocks/block3/block3_last.png') no-repeat;
	width: 434px;
	height: 116px;
	padding: 9px 34px 0px 0px;	
}

#downblocks4 {
	float:left;
	line-height: 13px;
	color:#358096;
	font-weight:bold;
}

#block4_title_down {
	background:url('images/downblocks/block4/block4_title.png') no-repeat;
	width: 393px;
	height: 43px;
	padding: 27px 69px 0px 0px;
}

#block4_first_down {
	background:url('images/downblocks/block4/block4_first.png') no-repeat;
	width: 444px;
	height: 110px;
	padding: 19px 15px 0px 0px;
}

#block4_down {
	background:url('images/downblocks/block4/block4.png') no-repeat;
	width: 447px;
	height: 110px;
	padding: 9px 15px 0px 0px;	
}

#block4_last_down {
	background:url('images/downblocks/block4/block4_last.png') no-repeat;
	width: 447px;
	height: 116px;
	padding: 9px 15px 0px 0px;	
}

#down {
	color:black;
	font-weight:bold;
	font-size:15px;
}

#down h2 {
	color:white;
}

#right {
	background:url('images/down/right.png') no-repeat;
	width: 227px;
	height: 255px;
	float:right;
	padding: 13px 0px 0px 0px;
	text-align:center;
}

#center {
	background:url('images/down/center.png') no-repeat;
	width: 445px;
	height: 255px;
	float:right;
	padding: 13px 14px 0px 0px;
}

#center h2 {
	padding: 0px -14px 0px 0px;
	text-align:center;
}

#left {
	background:url('images/down/left.png') no-repeat;
	width: 260px;
	height: 255px;
	float:left;
	padding: 13px 14px 0px 0px;
}

#left h2 {
	margin: 0px -14px 0px 0px;
	text-align:center;
}

#bottom {
	background:url('images/down/bottom.png') no-repeat;
	width: 960px;
	height: 155px;
	clear:both;
	text-align:center;
}

#copyrights {
	background:url('images/down/copyrights.png') no-repeat;
	width:960px;
	height:40px;
}