<div class="container_12">
    <div id="info" class="alert alert-info">
        <strong>Start time: </strong><span id="startTime"></span>
        <strong>Running time: </strong> <span id="time">00:00:00</span>.
        <strong>Edge hitting: </strong> <span id="edgeHitting">0</span>
        <strong>Pace: </strong> <span id="pace">0</span> <i id="paceFormat"></i>
    </div>

    <canvas id="canvas" tabindex="1" style="margin-bottom: 10px"></canvas>