<div id="registration">
    <h2>Login in</h2>
    <form id="RegisterUserForm" action="server.php" method="post">
        <fieldset>
            <p>
                <label for="ID">Your ID</label>
                <input id="ID" name="Player_id" class="text" type="text"/>
            </p>

            <p id="pss_field">
                <label for="password">Password</label>
                <input id="password" name="password" class="text" type="password"/>
            </p>
            
            <p>
                <label>Account type:</label><br />
                <input type="radio" name="accountType" value="user" id="accountType_user" onclick="document.getElementById('pss_field').style.display = 'none'; document.getElementById('password').value = ''" /> <label for="accountType_user">User</label>
                <input type="radio" name="accountType" value="professor" id="accountType_professor" checked="checked" onclick="document.getElementById('pss_field').style.display = 'block';" /> <label for="accountType_professor">Professor</label>
            </p>

            <p>
                 <input type="hidden" name="action" value="login" />
                 <button id="registerNew" type="submit">login</button>
            </p>
        </fieldset>
    </form>
</div>
