
        <div id="registration">
            <h2>Create an Account</h2>
            <form id="RegisterUserForm" action="server.php" method="post">
                <fieldset>
                    <p>
                        <label for="name">Your name</label>
                        <input id="name" name="name" type="text" class="text" value=""/>
                    </p>

                    <p id="pss_field">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" class="text" value=""/>
                    </p>

                    <p>
                        <label for="ID">Your ID</label>
                        <input id="ID" name="Player_id" class="text" type="text"/>
                    </p>

                    <p>
                        <label>Account type:</label><br />
                        <input type="radio" name="accountType" value="user" id="accountType_user" onclick="document.getElementById('pss_field').style.display = 'none'; document.getElementById('password').value = ''" /> <label for="accountType_user">User</label>
                        <input type="radio" name="accountType" value="user" id="accountType_professor" checked="checked" onclick="document.getElementById('pss_field').style.display = 'block';" /> <label for="accountType_professor">Professor</label>
                    </p>

                    <p><input id="acceptTerms" name="acceptTerms" type="checkbox"/>
                        <label for="acceptTerms">
                            I agree to the <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a>
                        </label>
                    </p>

                      <p>
                        <input type="hidden" name="action" value="register" />
                        <button id="registerNew" type="submit">Register</button>
                    </p>
                </fieldset>
            </form>
        </div>
