
<div id="settings_pane">
    <table id="settings_form" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<button type="button" class="btn-block btn-primary btn-lg" id="save_settings">Save settings</button>
<button type="button" class="btn-block btn-primary btn-lg" id="download_summery">Download summery in EXCEL</button>

