 
.menu_block  {
	position: relative;
	background: #fe8c21;
	z-index: 999;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 35px;

}

nav>.sf-menu {

}
nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	position: relative;
	float: left;

}

.sf-menu>li+li {
}


.sf-menu>li>a{
	font-size: 24px;
	font-family: 'Marvel', sans-serif;
	color: #000;
	display: block;
	position: relative;
	line-height: 24px;
	z-index: 999;
	position: relative;
	padding: 17px 10px 17px;
}


.sf-menu>li.sfHover>a, .sf-menu>li.current>a, .sf-menu>li:hover>a:hover {
	background-color: #fcb31b;
}



/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul{
	top:-28px;
	left: 114px;

	width: 141px;
	z-index: 999; 
	padding-top: 28px;
	padding-bottom: 23px;
	background-color: #ffffff;
}


.sf-menu li ul li{
	padding-left: 18px;
	float: none !important; 
	margin-bottom: 3px;


}




.sf-menu li ul li a{
	text-transform: uppercase;
	font: 16px/16px 'Dosis', sans-serif;
;
	position: relative;
	color: #000;

}

.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a {  
	color: #ec0606;

}

