body {
	background-color: #FAFAFA;
}

/* centerize content */
#wrapper {
	width: 95%;
	max-width: 1300px; /* if 90% of the screen width is bigger than 1300px, then it limits to 1300px */
	margin:0 auto;
	margin-top: 20px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 30px #8A9BFF;
	padding: 20px 20px 20px 20px;
}

.thumbnail { /* thumbnail images - 25px square with glow */
	width: 25px;
	height: 25px;	
    box-shadow: 0px 0px 10px #BAC2FF;
}

.modal_error { /* error box will be red */
	display: none;
	border: 1px solid #E80000;
	padding: 5px 5px 5px 5px;
	background-color: #FF8787;
	width: 100%;
	min-height: 20px;
}